JAXB/Validation/src/main/resources/invalidschema/invalidXmlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.0">
    <xsd:element name="Greeting" type="GreetingType"/>

    <xsd:complexType name="GreetingType">
        <xsd:sequence>
            <xsd:element name="Text" type="xsd:string"/>
            <xsd:element name="Text2" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>