JAXB/BinaryData/src/main/resources/xmlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.0">
    <xsd:element name="Binary" type="BinaryType"/>

    <xsd:complexType name="BinaryType">
        <xsd:sequence>
            <xsd:element name="data" type="xsd:hexBinary"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>