JAXB/BinaryData/src/main/resources/xmlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.0">
    <xsd:element name="JavaObject" type="JavaObjectType"/>

    <xsd:complexType name="JavaObjectType">
        <xsd:sequence>
            <xsd:element name="data" type="xsd:hexBinary"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="container" type="JavaObjectType"/>

</xsd:schema>