JAXB/IntegerRange/src/main/resources/xmlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.0">
    <xsd:element name="NewElement" type="NewElementType" />
    <xsd:simpleType name="GroupType">
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name = "NewElementType">
        <xsd:attribute name="Group" type = "GroupType"/>
    </xsd:complexType>

</xsd:schema>